<mat-list>
  <mat-nav-list
    [scrollWindow]="false"
    infiniteScroll
    (scrolled)="onScroll()"
    class="nav"
  >
    <mat-form-field
      hintLabel="Max 10 characters"
      appearance="fill"
      class="text-field"
    >
      <mat-label>Enter some input</mat-label>
      <input
        matInput
        #input
        maxlength="15"
        placeholder="Ex. Pikachu or 25"
        [(ngModel)]="search"
        (ngModelChange)="onChange($event)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-list-item
      (click)="updateId(pokemon.id)"
      *ngFor="let pokemon of pokemons"
    >
      <mat-list-item
        ><img
          matListAvatar
          src="../../../assets/img/sprites/{{ pokemon.id }}.png"
          alt="error loading image"
          class="avatar"
        />
        {{ pokemon.id }}. {{ pokemon.name }}</mat-list-item
      >
      <button
        mat-icon-button
        aria-label="Example icon-button with a heart icon"
      >
        <mat-icon
          *ngIf="isConnected()"
          [matBadge]="selectedTimes(pokemon.id)"
          matBadgeColor="warn"
          aria-hidden="false"
          (click)="addPokemonsToMyTeam($event, pokemon.id)"
          aria-label="Example home icon"
          >add</mat-icon
        >
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-list>
