.img-with-text img {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.btn_auth {
  position: absolute;
  right: 5%;
  top: 90%;
  font-size: 1.6em;
}
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.noDetail {
  display: flex;
  margin-top: 10%;

  justify-content: center;
}
